body {
	background-color: #304800;
}

div.post {
	background-color: #90A860;
	width: 80%;
	margin: auto;
	padding-left: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 40px;
	border: 2px solid;
	border-radius: 20px;
	margin-bottom: 20px;
}

div.header {
	background-color: #90A860;
	width: 50%;
	margin: auto;
	padding: 5px;
	border: 2px solid;
	border-radius: 20px;
}

div.edit_delete {
	display: inline;
}

p {
	padding: 5px;
}

.edit {
	float: left;
}

.delete {
	float: right;
	padding-right: 10px;
}

a {
	color: grey;
}